<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist Rating</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

    <h1>Find A Playlist</h1>

    <button type="submit" id="testButton">Spotify Login</button>

    <script>
        $("#testButton").click(function(){
            $.ajax({
                type: 'GET',
                url: 'http://localhost:8000/authorize',
                success: function(data, status, xhr) {
                    console.log("status: ", status);
                    console.log(data);
                    console.log(data.url);
                },
                error: function(){
                    console.log("error")
                }
            })
        })

    </script>

</body>
</html>