<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist Rating</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% load static %}
</head>
<body>

    <h1>Find A Playlist</h1>

    <div>
        <button type="submit" id="loginButton">Spotify Login</button>
    </div>

    <div>
        <button type="submit" id="testButton">Test</button>
    </div>

    <script src="{% static 'functionality.js' %}"></script>

</body>
</html>