<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist Rating</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% load static %}
</head>
<body>

    <script src="{% static 'functionality.js' %}"></script>
    <script src="{% static 'playlistSearch.js' %}"></script>

    <h1>Find A Playlist</h1>
<div>
    <br>
    <form>
        {% csrf_token %}
        <label for="playlist">Playlist Link</label>
        <input type="text" id="playlistLink"> 
        <input type="submit" value="Submit" id="submitLinkBtn"> 
    </form>
    <br> <br>
</div>

    <div>
        <button id="createAccount">Create Account</button>
    </div>

    <div>
        <button type="submit" id="login">Login</button>
    </div>

</body>
</html>