<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Listening Taste</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% load static %}
</head>
<body>
    <script src="{% static 'metrics_page.js' %}"></script>

    <div class="container pt-5">

        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-4">

                <h2 class="text-center mb-4">My Top Artists</h2>

                <div class="card mb-4 shadow-sm">
                    <img id="artist1img" src="..." class="card-img-top w-50 mx-auto">
                    <div class="card-body p-4">
                        <h5 class="card-title">Artist Name</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

</body>
</html>